<nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
  <!-- Image and text -->
  <a class="navbar-brand">
    <div class="nav-brand d-inline-block align-top">ملودی<br/> &nbsp;&nbsp;&nbsp;&nbsp;منتور</div>
    <img src="../../../assets/img/nav-logo.svg" height="35" class="d-inline-block align-bottom" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mx-3">
      <a class="nav-item nav-link nav-link-text mx-2" routerLink="'/home'" routerLinkActive="true">خانه</a>
      <a class="nav-item nav-link nav-link-text mx-2" routerLink="'/home'" routerLinkActive="true">دوره ها</a>
      <a class="nav-item nav-link nav-link-text mx-2" routerLink="'/home'" routerLinkActive="true">بلاگ</a>
      <a class="nav-item nav-link nav-link-text mx-2" routerLink="'/home'" routerLinkActive="true">درباره ما</a>
    </div>
  </div>
  <span class="mx-2 user-text">نیما نوروزی</span>
  <img src="../../../assets/img/user-icon.svg" height="35" class="d-inline-block align-bottom" alt="">
</nav>
